.itinerary-container {
    width: 1100px;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    color: #666666;
}
.title {
    font-weight: 700;
    font-size: 19px;
}
.itinerary-content {
    margin-bottom: 60px;
    width: 1100px;
    margin-left: 100px;
    margin-right: auto;
    color: #666666;
}
.itinerary-info {
    display: flex;
    margin-top: 30px;
}
.itinerary-info > div {
    margin-left: 10px;
    margin-right: 20px;
}
.itinerary-info > div > span {
    color: #fbb471;
    font-weight: 700;
}
.daily-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 230px 230px 230px;
    grid-row-gap: 10px;
}
.daily {
    height: 215px;
    width: 200px;
    margin-right: 20px;
    border: 1px #e8e8e8 solid;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}
.hotel {
    float: inline-end;
    width: inherit;
    margin-top: 40px;
    padding-top: 5px;
    position: absolute;
    bottom: 10px;
    border-top: 1px #e8e8e8 solid;
}
.hotel-text {
    color: #ff9b9d;
}
hr {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    padding: 3px;
    background: linear-gradient(54deg, #adbed2, #ff8e90, #ffbc7d,#adbed2);
    --mask-image: repeating-linear-gradient(135deg, #ffffff 0px, #ffffff 1px, transparent 1px, transparent 6px);
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
}
.button-container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}
.button {
    width: 100px;
    height: 36px;
    float: right;
    background-color: #ff9a9b;
    border: 0px solid #ff9a9b;
    border-radius: 5px;
    font-weight: 700;
    font-size: 19px;
    color: #ffffff;
    cursor: pointer;
    margin-left: 20px;
}
.button:hover {
    background-color: #ff8e90;
    border: 0px solid #ff8e90;
}
footer {
    margin-top: 230px;
}
