.itinerary-container {
    width: 1100px;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    color: #666666;
}
.title {
    font-weight: 700;
    font-size: 19px;
}
.itinerary-content {
    width: 1100px;
    margin-right: auto;
    color: #666666;
    text-decoration: none;
}
.itinerary-info {
    display: flex;
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 40px;
    position: relative;
}
.itinerary-info > div {
    margin-left: 10px;
    margin-right: 20px;
}
.itinerary-info > div > span {
    color: #fbb471;
    font-weight: 700;
}
.daily-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 230px 230px 230px;
    grid-row-gap: 10px;
}
.daily {
    height: 215px;
    width: 200px;
    margin-right: 20px;
    border: 1px #e8e8e8 solid;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}
.hotel {
    float: inline-end;
    width: inherit;
    margin-top: 40px;
    padding-top: 5px;
    position: absolute;
    bottom: 10px;
    border-top: 1px #e8e8e8 solid;
}
.hotel-text {
    color: #ff9b9d;
}
hr {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    padding: 3px;
    background: linear-gradient(54deg, #adbed2, #ff8e90, #ffbc7d,#adbed2);
    --mask-image: repeating-linear-gradient(135deg, #ffffff 0px, #ffffff 1px, transparent 1px, transparent 6px);
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
}
.more-button > img {
    height: 28px;
    position: absolute;
    right: 80px;
}
.alarm-button {
    position: absolute;
    right: 40px;
    cursor: pointer; 
}
.alarm-button >img {
    height: 30px;
}
.delete-button > img {
    height: 28px;
}
.delete-button {
    position: absolute;
    right: 0;
    cursor: pointer;
}
.cover{
	position:fixed;
	padding:0;
	margin:0;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background:#000000;
	opacity: 0.25;
	z-index:10;
	display: none;
}
.alarm-window{
	height: 275px;
	width:100%;
	z-index:15;
	position: fixed;
	top:80px;
	animation: windows 0.3s linear;
	right:auto;
	left:auto;
	text-align:center;
	display: none;
}
@keyframes windows{
	0%{opacity:0}
	100%{opacity:1}
}
.window-container{
	width: 340px;
	height: 275px;
	margin-left: auto;
	margin-right: auto;
}
.window-background{
	background-image:linear-gradient(270deg, #ffb773 0%, #ffbc7d 100%);
	width: 340px;
	height: 10px;
	border-radius: 6px 6px 0 0;
}
.window-content{
	background-color: #FFFFFF;
	width: 340px;
    height: 200px;
	border-radius:0 0 6px 6px;
	padding-top:15px;
	text-align: center;
}
.window-title{
	font-weight:700;
	font-size:24px;
	color: #666666;
	margin-bottom: 5px;
}
.alarm-date, .alarm-time {
    width: 200px;
    height: 30px;
    padding-right: 4px;
    padding-left: 2px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    text-align: center;
    color: #666666;
    margin-top: 10px;
}
.window-button {
    margin-top: 10px;
    width: 200px;
    height: 36px;
    background-color: #ffbc7d;
    border: 0px solid #ffbc7d;
    border-radius: 5px;
    font-weight: 700;
    font-size: 19px;
    color: #ffffff;
    cursor: pointer;
    margin-left: 20px;
}
.window-close {
    position:absolute;
	padding-left:65px;
	top:17px;
	cursor: pointer
}
.button-container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}
.button {
    width: 100px;
    height: 36px;
    float: right;
    background-color: #ff9a9b;
    border: 0px solid #ff9a9b;
    border-radius: 5px;
    font-weight: 700;
    font-size: 19px;
    color: #ffffff;
    cursor: pointer;
    margin-left: 20px;
}
.button:hover {
    background-color: #ff8e90;
    border: 0px solid #ff8e90;
}
footer {
    margin-top: 230px;
}
