.schedule-container {
    width: 1100px;
    margin-top: 120px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #666666;
}
.title {
    font-weight: 700;
    font-size: 19px;
}
.schedule-content {
    width: 1100px;
    margin-left: 100px;
    color: #666666;
}
.schedule-info {
    display: flex;
    margin-top: 30px;
}
.schedule-info > div {
    margin-left: 10px;
    margin-right: 20px;
}
.schedule-info > div > span {
    color: #fbb471;
    font-weight: 700;
}
.daily-container {
    margin-top: 10px;
    display: flex;
}
.daily {
    height: 200px;
    margin-right: 20px;
    border: 1px #e8e8e8 solid;
    border-radius: 10px;
    padding: 15px;
    position: relative;
}
.hotel {
    float: inline-end;
    margin-top: 40px;
    position: absolute;
    bottom: 10px;
}
hr {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border: 1px solid #e8e8e8;
}
.button-container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}
.button {
    width: 100px;
    height: 36px;
    float: right;
    background-color: #ff9b9d;
    border: 0px solid #ff9b9d;
    border-radius: 5px;
    font-weight: 700;
    font-size: 19px;
    color: #ffffff;
    cursor: pointer;
    margin-left: 20px;
}
.button:hover {
    background-color: #eb9091;
    border: 0px solid #eb9091;
}
footer {
    margin-top: 230px;
}
