<!DOCTYPE html>

<html>

    <head>
        <%- include('head'); %>
        <link rel = 'stylesheet' type = 'text/css' href = '/css/board.css'>
    </head>
<body>
    <%- include('header'); %>
    <main>
        <div class = 'board-container'>
            <h2>發表一篇圖文</h2>
            <div>文字內容<input type = 'text' id = 'title'></div>
            <div>圖片檔案<input type = 'file' accept = 'image/*' id = 'image'></div>
            <button onclick = submit()>送出</button>
            <div class = 'error-message'></div>
            <hr/>
            <div class = 'board-block'></div>
        </div>
        
    </main>

    <%- include('user'); %>
    <%- include('footer'); %>
    <script type = 'text/javascript' src = '/javascript/board.js'></script>

</body>
</html>