<header>
    <div class = 'header-menu'>
        <a class = 'left' href = '/'>Travel-Arrangement</a>
        <div class = 'right'>
            <a class = 'menu itinerary-display' id = 'itinerary-button' onclick = getItinerary()>Itinerary <span>|</span></a><!-- 我的行程 -->
            <a class = 'menu sign-in-display' id = 'sign-in-button' onclick = signIn()>Log in <span>|</span></a><!-- 登入/註冊 -->
            <a class = 'menu sign-out-display' id = 'sign-out-button' onclick = signOut()>Log out</a><!-- 登出系統 -->
        </div>
    </div>
</header>