<header>
    <div class = 'header-menu'>
        <a class = 'left' href = '/'>Travel-Arrangement</a>
        <div class = 'right'>
            <a class = 'menu' id = 'dashboard-button' onclick = getDashboard()>dashboard </a><div class = 'line'>|</div> <!--個人頁面 -->
            <a class = 'menu' id = 'itinerary-button' onclick = getItinerary()>itinerary </a><div class = 'line'>|</div><!-- 我的行程 -->
            <a class = 'menu' id = 'sign-out-button' onclick = signOut()>sign out</a><!-- 登出系統 -->
        </div>
    </div>
</header>