<header>
    <div class = 'header-menu'>
        <a class = 'left' href = '/'>Travel-Arrangement</a>
        <div class = 'right'>
            <a class = 'menu schedule-display' id = 'schedule-button' onclick = getSchedule()>我的行程</a>
            <a class = 'menu sign-in-display' id = 'sign-in-button' onclick = signIn()>登入/註冊<img src=''/></a>
            <a class = 'menu sign-out-display' id = 'sign-out-button' onclick = signOut()>登出系統</a>
        </div>
    </div>
</header>