<header>
    <div class = 'header-menu'>
        <a class = 'left' href = '/'>Travel-Arrangement</a>
        <div class = 'right'>
            <a class = 'profile-photo' onclick = getDashboard()>
                <img src = '/pic/profile.jpg'/>
            </a>
            <a class = 'menu' id = 'sign-out-button' onclick = signOut()>sign out</a><!-- 登出系統 -->
        </div>
    </div>
</header>