<!DOCTYPE html>

<html>

    <head>
        <%- include('head'); %>
        <link rel = 'stylesheet' type = 'text/css' href = '/css/index.css'>
    </head>
<body>
    <%- include('header'); %>
    <main>
        <div class = 'date-container'>
            <div class = 'title'>一、選擇想要出發的時間</div>
            <div class = 'date-block'>
                <div>出發日期 ：<input type = 'date' id = 'departure-date' onchange  = handler(this)></div>
                <div>回程日期 ：<input type = 'date' id = 'return-date'></div>
            </div>
        </div>
        <hr/>
        <div class = 'city-container'>
            <div class = 'title'>二、選擇想要前往的縣市 ( 最多可選擇 3 個縣市 )</div>
            <div class = 'city-block'>
				<div class = 'photo-content'>
					<img class = 'taiwan-photo' src = 'pic/TW-map.png'></img>
					<img class = 'pin-1' src = 'pic/icons8-location-30.png'>
					<img class = 'pin-2' src = 'pic/icons8-location-30.png'>
					<img class = 'pin-3' src = 'pic/icons8-location-30.png'>
					<img class = 'pin-4' src = 'pic/icons8-location-30.png'>
					<img class = 'pin-5' src = 'pic/icons8-location-30.png'>
					<img class = 'pin-6' src = 'pic/icons8-location-30.png'>
					<img class = 'pin-7' src = 'pic/icons8-location-30.png'>
					<img class = 'pin-8' src = 'pic/icons8-location-30.png'>
					<img class = 'pin-9' src = 'pic/icons8-location-30.png'>
					<img class = 'pin-10' src = 'pic/icons8-location-30.png'>
					<img class = 'pin-11' src = 'pic/icons8-location-30.png'>
					<img class = 'pin-12' src = 'pic/icons8-location-30.png'>
					<img class = 'pin-13' src = 'pic/icons8-location-30.png'>
					<img class = 'pin-14' src = 'pic/icons8-location-30.png'>
					<img class = 'pin-15' src = 'pic/icons8-location-30.png'>
					<img class = 'pin-16' src = 'pic/icons8-location-30.png'>
					<img class = 'pin-17' src = 'pic/icons8-location-30.png'>
					<img class = 'pin-18' src = 'pic/icons8-location-30.png'>
					<img class = 'pin-19' src = 'pic/icons8-location-30.png'>
				</div>
                
                <div class = 'city-content'>
                    <div class = 'checkbox-item'>
						<input type = 'checkbox' name = 'city' id = '基隆市' class = 'city' value = '1'>
						<label for = '基隆市'><span>基隆市</span></label>
					</div>
                    <div class = 'checkbox-item'>
						<input type = 'checkbox' name = 'city' id = '臺北市' class = 'city' value = '2'>
						<label for = '臺北市'><span>臺北市</span></label>
					</div>
                    <div class = 'checkbox-item'>
						<input type = 'checkbox' name = 'city' id = '新北市' class = 'city' value = '3'>
						<label for = '新北市'><span>新北市</span></label>
					</div>
                    <div class = 'checkbox-item'>
						<input type = 'checkbox' name = 'city' id = '桃園市' class = 'city' value = '4'>
						<label for = '桃園市'><span>桃園市</span></label>
					</div>
                    <div class = 'checkbox-item'>
						<input type = 'checkbox' name = 'city' id = '新竹縣' class = 'city' value = '5'>
						<label for = '新竹縣'><span>新竹縣</span></label>
					</div>
                    <div class = 'checkbox-item'>
						<input type = 'checkbox' name = 'city' id = '新竹市' class = 'city' value = '6'>
						<label for = '新竹市'><span>新竹市</span></label>
					</div>
                    <div class = 'checkbox-item'>
						<input type = 'checkbox' name = 'city' id = '苗栗縣' class = 'city' value = '7'>
						<label for = '苗栗縣'><span>苗栗縣</span></label>
					</div>
                    <div class = 'checkbox-item'>
						<input type = 'checkbox' name = 'city' id = '臺中市' class = 'city' value = '8'>
						<label for = '臺中市'><span>臺中市</span></label>
					</div>
                    <div class = 'checkbox-item'>
						<input type = 'checkbox' name = 'city' id = '彰化縣' class = 'city' value = '9'>
						<label for = '彰化縣'><span>彰化縣</span></label>
					</div>
                    <div class = 'checkbox-item'>
						<input type = 'checkbox' name = 'city' id = '南投縣' class = 'city' value = '10'>
						<label for = '南投縣'><span>南投縣</span><img src = ''></label>
					</div>
                    <div class = 'checkbox-item'>
						<input type = 'checkbox' name = 'city' id = '雲林縣' class = 'city' value = '11'>
						<label for = '雲林縣'><span>雲林縣</span></label>
					</div>
                    <div class = 'checkbox-item'>
						<input type = 'checkbox' name = 'city' id = '嘉義縣' class = 'city' value = '12'>
						<label for = '嘉義縣'><span>嘉義縣</span></label>
					</div>
                    <div class = 'checkbox-item'>
						<input type = 'checkbox' name = 'city' id = '嘉義市' class = 'city' value = '13'>
						<label for = '嘉義市'><span>嘉義市</span></label>
					</div>
                    <div class = 'checkbox-item'>
						<input type = 'checkbox' name = 'city' id = '臺南市' class = 'city' value = '14'>
						<label for = '臺南市'><span>臺南市</span></label>
					</div>
                    <div class = 'checkbox-item'>
						<input type = 'checkbox' name = 'city' id = '高雄市' class = 'city' value = '15'>
						<label for = '高雄市'><span>高雄市</span></label>
					</div>
                    <div class = 'checkbox-item'>
						<input type = 'checkbox' name = 'city' id = '屏東縣' class = 'city' value = '16'>
						<label for = '屏東縣'><span>屏東縣</span></label>
					</div>
                    <div class = 'checkbox-item'>
						<input type = 'checkbox' name = 'city' id = '宜蘭縣' class = 'city' value = '17'>
						<label for = '宜蘭縣'><span>宜蘭縣</span></label>
					</div>
                    <div class = 'checkbox-item'>
						<input type = 'checkbox' name = 'city' id = '花蓮縣' class = 'city' value = '18'>
						<label for = '花蓮縣'><span>花蓮縣</span></label>
					</div>
                    <div class = 'checkbox-item'>
						<input type = 'checkbox' name = 'city' id = '臺東縣' class = 'city' value = '19'>
						<label for = '臺東縣'><span>臺東縣</span></label>
					</div>
                </div>
            </div>
        </div>
        <div class = 'button-container'>
			<div class = 'warning-text'></div>
			<button class = 'next-button' onclick = next()>下一步</button>
        </div>
        <%- include('user'); %>
        <%- include('footer'); %>
        <script type = 'text/javascript' src = '/javascript/index.js'></script>

</body>
</html>