<!DOCTYPE html>

<html>

    <head>
        <%- include('head'); %>
        <link rel = 'stylesheet' type = 'text/css' href = '/css/my-itinerary.css'>
    </head>
<body>
    <%- include('header'); %>
    <main>
        <div class = 'itinerary-container'>
            <div class = 'title'>我的行程</div></div>
        <div class = 'button-container'>
            <a href = '/'>
                <button class = 'button'>回首頁</button>
            </a>
            <a href = '/dashboard'>
                <button class = 'button'>會員中心</button>
            </a>
        </div>
    </main>
    
    <%- include('footer'); %>
    <script type = 'text/javascript' src = '/javascript/my-itinerary.js'></script>
    
</body>
</html>