{% extends 'base.html' %}

{% block CSS %}
<link rel = 'stylesheet' type = 'text/css' href = 'css/schedule.css'>
{% endblock %}

    {% block main %}
    <main>
        <div class = 'schedule-container'>
            <div class = 'title'>我的行程</div>
        </div>
        <div class = 'schedule-content'>
            <div class = 'schedule-info'>
                <div class = 'schedule-date'>旅遊日期 ：<span>5/15 - 5/17</span></div>
                <div>旅遊地點 ：<span>台北市</span></div>
            </div>
            <div class = 'daily-container'>
                <div class = 'daily'>
                    <div>行程一 ：<span>台北101</span></div>
                    <div>行程二 ：<span>故宮博物院</span></div>
                    <div>行程三 ：<span>士林官邸</span></div>
                    <div>行程四 ：<span>士林夜市</span></div>
                    <div>行程四 ：<span>士林夜市</span></div>
                    <div class = 'hotel'>住宿飯店 ：<span>W HOTEL</span></div>
                </div>
                <div class = 'daily'>
                    <div>行程一 ：<span>台北101</span></div>
                    <div>行程二 ：<span>故宮博物院</span></div>
                    <div>行程三 ：<span>士林官邸</span></div>
                    <div>行程四 ：<span>士林夜市</span></div>
                    <div class = 'hotel'>住宿飯店 ：<span>W HOTEL</span></div>
                </div>
                <div class = 'daily'>
                    <div>行程一 ：<span>台北101</span></div>
                    <div>行程二 ：<span>故宮博物院</span></div>
                    <div>行程三 ：<span>士林官邸</span></div>
                    <div>行程四 ：<span>士林夜市</span></div>
                    <div class = 'hotel'>住宿飯店 ：<span>W HOTEL</span></div>
                </div>
            </div>
            <hr/>
            <div class = 'schedule-info'>
                <div class = 'schedule-date'>旅遊日期 ：<span>5/15 - 5/17</span></div>
                <div>旅遊地點 ：<span>台北市</span></div>
            </div>
            <div class = 'daily-container'>
                <div class = 'daily'>
                    <div>行程一 ：<span>台北101</span></div>
                    <div>行程二 ：<span>故宮博物院</span></div>
                    <div>行程三 ：<span>士林官邸</span></div>
                    <div>行程四 ：<span>士林夜市</span></div>
                    <div>行程四 ：<span>士林夜市</span></div>
                    <div class = 'hotel'>住宿飯店 ：<span>W HOTEL</span></div>
                </div>
                <div class = 'daily'>
                    <div>行程一 ：<span>台北101</span></div>
                    <div>行程二 ：<span>故宮博物院</span></div>
                    <div>行程三 ：<span>士林官邸</span></div>
                    <div>行程四 ：<span>士林夜市</span></div>
                    <div class = 'hotel'>住宿飯店 ：<span>W HOTEL</span></div>
                </div>
                <div class = 'daily'>
                    <div>行程一 ：<span>台北101</span></div>
                    <div>行程二 ：<span>故宮博物院</span></div>
                    <div>行程三 ：<span>士林官邸</span></div>
                    <div>行程四 ：<span>士林夜市</span></div>
                    <div class = 'hotel'>住宿飯店 ：<span>W HOTEL</span></div>
                </div>
                
            </div>
            <hr/>
        </div>
        <div class = 'button-container'>
            <a href = '/'>
                <button class = 'button'>回首頁</button>
            </a>
            <a href = '/user-center'>
                <button class = 'button'>會員中心</button>
            </a>
        </div>

    </main>
    {% endblock %}

{% block JavaScript %}
<script type = 'text/javascript' src = 'javascript/schedule.js'></script>
{% endblock %}