
<html>

    <head>
        <%- include('head'); %>
        <link rel = 'stylesheet' type = 'text/css' href = '/css/next.css'>
        <script src = 'https://polyfill.io/v3/polyfill.min.js?features=default'></script>
        <link rel = 'stylesheet' type = 'text/css' href = '/css/map.css' />
    </head>
<body>
    <%- include('header'); %>
    <main>
        <div class = 'hotel-container'>
            <div class = 'title'>三、選擇住宿飯店</div>
            <div class = 'hotel-block'></div>
        </div>
        <hr/>
        <div class = 'transport-container'>
            <div class = 'title'>四、使用的交通工具</div>
            <div class = 'transport-block'>
                <div class = 'checkbox-item'>
                    <input type = 'checkbox' name = 'transport' id = '開車' class = 'transport'>
                    <label for = '開車'><span>開車</span>
                        <img class = 'transport-photo' src = 'pic/car.png'>
                    </label>
                </div>
                <div class = 'checkbox-item'>
                    <input type = 'checkbox' name = 'transport' id = '機車' class = 'transport'>
                    <label for = '機車'><span>機車</span>
                        <img class = 'transport-photo' src = 'pic/motorcycle.png'>
                    </label>
                </div>
                <div class = 'checkbox-item'>
                    <input type = 'checkbox' name = 'transport' id = '大眾運輸' class = 'transport'>
                    <label for = '大眾運輸'><span>大眾運輸</span>
                        <img class = 'transport-photo' src = 'pic/mrt.png'>
                    </label>
                </div>
                <div class = 'checkbox-item'>
                    <input type = 'checkbox' name = 'transport' id = '腳踏車' class = 'transport'>
                    <label for = '腳踏車'><span>腳踏車</span>
                        <img class = 'transport-photo' src = 'pic/bike.png'>
                    </label>
                </div>
                <div class = 'checkbox-item'>
                    <input type = 'checkbox' name = 'transport' id = '走路' class = 'transport' checked>
                    <label for = '走路'><span>走路</span>
                        <img class = 'transport-photo' src = 'pic/walking.png'>
                    </label>
                </div>
            </div>
        </div>
        <hr/>
        <div class = 'prefer-container'>
            <div class = 'title'>五、行程安排的偏好</div>
            <div class = 'prefer-block'>
                <div><input type = 'radio' name = 'prefer' id = '悠遊輕旅行'>
                    <label for = '悠遊輕旅行'><span>悠遊輕旅行</span></label></div>
                <div><input type = 'radio' name = 'prefer' id = '排好排滿'>
                    <label for = '排好排滿'><span>排好排滿</span></label></div>
            </div>
        </div>
        <hr/>
        <div class = 'must-to-go-container'>
            <div class = 'title'>六、必去的景點 ( 選填 )</div>
            <div style = 'display: none'>
                <input
                  id = 'pac-input'
                  class = 'controls'
                  type = 'text'
                  placeholder = 'Enter a location'
                />
            </div>
            <div id = 'map'></div>
              <div id = 'infowindow-content'>
                <span id = 'place-name' class = 'title'></span><br />
                <strong>Place ID:</strong> <span id = 'place-id'></span><br />
                <span id = 'place-address'></span>
            </div>
        </div>
        <div class = 'button-container'>
            <div class = 'warning-text'></div>
            <button class = 'finish-button' onclick = getItineraryData()>行程安排</button>
        </div>
    </main>

    <!-- 遮罩層 -->
    <div class = 'cover'></div> 

    <div class = 'window'>
        <div  class = 'window-container'>
          <div class = 'window-background'></div>
          <div class = 'window-content'>
            <div class = 'window-title'>行程規劃中請稍後...</div>
          </div>
        </div>
    </div>

    
    <%- include('footer'); %>
    <script type = 'text/javascript' src = '/javascript/next.js'></script>
    <script type = 'module' src = 'javascript/map.js'></script>
    <script defer
    src = 'https://maps.googleapis.com/maps/api/js?key=key&callback=initMap&libraries=places&v=weekly'
  ></script> 
</body>
</html>
