<!DOCTYPE html>

<html>

    <head>
        <%- include('head'); %>
        <link rel = 'stylesheet' type = 'text/css' href = 'css/next.css'>
    </head>
<body>
    <%- include('header'); %>
    <main>
        <div class = 'hotel-container'>
            <div class = 'title'>三、選擇住宿飯店</div>
            <div class = 'hotel-block'></div>
        </div>
        <hr/>
        <div class = 'transport-container'>
            <div class = 'title'>四、使用的交通工具</div>
            <div class = 'transport-block'>
                <div class = 'checkbox-item'>
                    <input type = 'checkbox' name = 'transport' id = '開車' class = 'transport'>
                    <label for = '開車'><span>開車</span>
                        <img class = 'transport-photo' src = 'pic/car.png'>
                    </label>
                </div>
                <div class = 'checkbox-item'>
                    <input type = 'checkbox' name = 'transport' id = '機車' class = 'transport'>
                    <label for = '機車'><span>機車</span>
                        <img class = 'transport-photo' src = 'pic/motorcycle.png'>
                    </label>
                </div>
                <div class = 'checkbox-item'>
                    <input type = 'checkbox' name = 'transport' id = '大眾運輸' class = 'transport'>
                    <label for = '大眾運輸'><span>大眾運輸</span>
                        <img class = 'transport-photo' src = 'pic/mrt.png'>
                    </label>
                </div>
                <div class = 'checkbox-item'>
                    <input type = 'checkbox' name = 'transport' id = '腳踏車' class = 'transport'>
                    <label for = '腳踏車'><span>腳踏車</span>
                        <img class = 'transport-photo' src = 'pic/bike.png'>
                    </label>
                </div>
                <div class = 'checkbox-item'>
                    <input type = 'checkbox' name = 'transport' id = '走路' class = 'transport' checked>
                    <label for = '走路'><span>走路</span>
                        <img class = 'transport-photo' src = 'pic/walking.png'>
                    </label>
                </div>
            </div>
        </div>
        <hr/>
        <div class = 'prefer-container'>
            <div class = 'title'>五、行程安排的偏好</div>
            <div class = 'prefer-block'>
                <div><input type = 'radio' name = 'prefer'><span>悠遊輕旅行</span></div>
                <div><input type = 'radio' name = 'prefer'><span>排好排滿</span></div>
            </div>
        </div>
        <hr/>
        <div class = 'must-to-go-container'>
            <div class = 'title'>六、必去的景點 ( 選填 )</div>
            <div class = 'must-to-go-block'>
                <div class = 'input-block'>
                    <input type = 'text'>
                    <button class = 'plus-button'><img src = 'pic/bx-plus-medical.png'></button>
                </div>
                <div class = 'input-block'>
                    <input type = 'text'>
                    <button class = 'plus-button'><img src = 'pic/bx-plus-medical.png'></button>
                </div>
                <div class = 'input-block'>
                    <input type = 'text'>
                    <button class = 'plus-button'><img src = 'pic/bx-plus-medical.png'></button>
                </div>
            </div>
        </div>
        <div class = 'button-container'>
            <a href = '/schedule'> 
                <button class = 'finish-button'>行程安排</button>
            </a>
        </div>
        
        <%- include('user'); %>
    </main>
    
    <%- include('footer'); %>
    <script type = 'text/javascript' src = 'javascript/next.js'></script>

</body>
</html>