
<html>

    <head>
        <%- include('head'); %>
        <link rel = 'stylesheet' type = 'text/css' href = '/css/sign-in.css'>
    </head>
    <body>
        <div class = 'sign-in-container'>
            <div class = 'photo-block'><img  src = 'pic/background-image.jpg' /></div>
            <div class = 'sign-in-block'>
                <div class = 'headline'>Travel-Arrangement</div>
                
                <!-- 登入畫面 -->
                <div class = 'sign-in-content'>
                    <div class = 'sign-in-title'>SIGN IN</div>
                    <input type = 'email' id = 'sign-in-email' class = 'sign-in-email' placeholder = '輸入電子信箱'>
                    <input type = 'password' id = 'sign-in-password' class = 'sign-in-password' placeholder = '輸入密碼'>
                    <button class = 'sign-in-button' onclick = checkSignIn()>登入帳戶</button>
                    <div id = 'sign-in-failed' class = 'sign-in-failed'></div>
                    <div class = 'oauth-block'>
                        <span class = 'oauth-text'>其他登入方式 : </span>
                        <span class = 'google-icon' onclick = oauth()><a href = 'api//auth/google'><img src = 'pic/google.png'/></a></span>
                    </div>
                    <div class = 'sign-in-text'>還沒有帳戶？
                        <a onclick = signUp()>點此註冊</a>
                    </div>
                </div>

                <!-- 註冊畫面 -->
                <div class = 'sign-up-content'>
                    <div class = 'sign-up-title'>SIGN UP</div>
                    <input type = 'text' id = 'sign-up-name' class = 'sign-up-name' placeholder = '輸入姓名'>
                    <input type = 'email' id = 'sign-up-email' class = 'sign-up-email' placeholder = '輸入電子信箱'>
                    <input type = 'password' id = 'sign-up-password' class = 'sign-up-password' placeholder = '輸入密碼'>
                    <button class = 'sign-up-button' onclick = checkSignUp()>註冊帳戶</button>
                    <div id = 'sign-up-failed' class = 'sign-up-failed'></div>
                    <div class = 'sign-up-text'>已經有帳戶了？
                        <a onclick = signIn()>點此登入</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type = 'text/javascript' src = '/javascript/sign-in.js'></script>
</html>