<!DOCTYPE html>

<html>

    <head>
        <%- include('head'); %>
        <link rel = 'stylesheet' type = 'text/css' href = '/css/user-center.css'>
    </head>
<body>
    <%- include('header'); %>
    <main>
    </main>
    <%- include('user'); %>
    <%- include('footer'); %>
    <script type = 'text/javascript' src = '/javascript/user-center.js'></script>
</body>
</html>